sudo: false
language: ruby
cache: bundler
rvm:
- 2.2
- 2.3
- 2.4
- 2.5
env:
  global:
    secure: F1nH/RYV8+ProqPdT73uW/KY+FfQ2vbCewiPdH6JyvKs3bY9KH2L3teJq/og9wmHE/uz6tWYi29E/ExaiJ9RKXt+zBcpL1oYc8wrRYY0Gi3+p+wgJGMLSVwXBmpin6++1eYmOO9auZV7rTH2YX1W8/JLTyX0PVzyY16eH/zTvO1/C+4+oMsKg70Cs0dZWYSzmeTYBXgkMpY3yTq+fOCh9/d1SIn10HhdbgIA6T3fQMK2B5b8lhEwk5Kd14cZBUt0n60oZv1CWeqJiPEyfotBE4MYvloBlyMRDqG4wTS6ZV5MD4flhesV+tsCjU8fJdoC+LFZA3wU0jQWAMyisBEm2/+A1x6xgrGhwgKHXJ/jTWtv7ShDJ8KFsa4YYVQlOs66o/+VltFLX9zhBJVYI5IyvrPp8jVwYzpY4rHqnt0eZNUi5naEe+lcefdEslQaV/X+FR0SRD3xUWRW+wYiViqsFqHjB1d27hhgDlMQb1l/DWjuJry1DCpOGk6uJZPn27ngek+X9N7JGRknCbhstr3ObYo/wFmpfWQS23X4SSZBGNMOfohQP92Qnb5533m4x/Ts1jfWNQcPD8r7uHtRKr/Hf1A50Iy1oSRVhjt/Ep58WG5hoKHiM9onN49zFzxYb5tCovfaD/Zt0+NgVRa9h/UuMR0VtaOjBBvO3OH8/WmMCZw=
